@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveChangePassword = "open";
}
<div id="page-content" class="content" style="padding-left:10px; padding-right:10px;">
    <div class="panel panel-inverse" style="">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            </div>
            <h4 class="panel-title">Change Password</h4>
        </div>
        <div class="panel-body" style="padding-top: 10px;">
            <div class="col-md-12 col-xs-12">
                <div class="col-md-3 col-xs-12">
                    <label>Current Password:</label>
                    @Html.Password("TB_CPWD", "", new { @class = "form-control input-sm", })
                </div>
                <div class="col-md-3 col-xs-12">
                    <label>New Password:</label>
                    @Html.Password("TB_NPWD", "", new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-3 col-xs-12">
                    <label>Confirm New Password:</label>
                    @Html.Password("TB_CNPWD", "", new { @class = "form-control input-sm" })
                </div>
                <div class="col-md-3 col-xs-12" style="padding: 0px;padding-top:25px;">
                    <button type="button" id="Button_Save" class="btn btn-flat btn-primary btn-sm"><i class="fa fa-key"></i> CHANGE</button>
                </div>
                <div class="col-md-12 col-xs-12">
                    <p id="MsgInfo" class="margin p-t-10"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        /* SaveBillData */
        jQuery('#Button_Save').click(function () {
            console.log('Button_Save');

            jQuery('#MsgInfo').html("");

            var Validate = true;

            if (jQuery('#TB_CPWD').val() == "") {
                Validate = false;
                jQuery('#TB_CPWD').css("border", "1px solid red");
                jQuery('#TB_CPWD').focus();
                return;
            }
            else
                jQuery('#TB_CPWD').css("border", "1px solid green");

            if (jQuery('#TB_NPWD').val() == "") {
                Validate = false;
                jQuery('#TB_NPWD').css("border", "1px solid red");
                jQuery('#TB_NPWD').focus();
                return;
            }
            else
                jQuery('#TB_NPWD').css("border", "1px solid green");

            if (jQuery('#TB_CPWD').val() == "") {
                Validate = false;
                jQuery('#TB_CNPWD').css("border", "1px solid red");
                jQuery('#TB_CNPWD').focus();
                return;
            }
            else
                jQuery('#TB_CNPWD').css("border", "1px solid green");


            if (jQuery('#TB_NPWD').val() != jQuery('#TB_CNPWD').val()) {
                alert("VALIDATE\nNew Password and Confirm Password Not Matched!")
                return;
            }
            /* Policy Validation Start */

            var sUserPWD = jQuery('#TB_NPWD').val();
            if (sUserPWD.trim().toLowerCase() ==("@ViewBag.LoginId").toLowerCase() ) {
                alert("VALIDATE\nUser Name and Passwords may never be the same as the login id !");
                return;
            }
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            // Validate numbers
            var numbers = /[0-9]/g;
            var spclChar = /(.*[!,%,&,@Html.Raw("@"),#,$,^,*,?,_,~])/;
            if (!sUserPWD.trim().length > 7
                || !sUserPWD.trim().match(upperCaseLetters)
                || !sUserPWD.trim().match(lowerCaseLetters)
                || !sUserPWD.trim().match(numbers)
                || !sUserPWD.trim().match(spclChar)
            ) {
                alert("MINIMUM PASSWORD POLICY\nUser Password Must contains at least\nLength of 8 Character,\nOne Upper Latter(A-Z),\nOne Lower Latter(a-z)\nOne Number(0-9)\nand One Special Character(!#@Html.Raw("@")$%)");
                return;
            }
            /* Policy Validation Start */

            var _Data = {};
            _Data.cpwd = jQuery('#TB_CPWD').val();
            _Data.npwd = jQuery('#TB_NPWD').val();

            if (Validate) {
                $.ajax({
                    url: "/ChangePassword/ChangePassword/ChangePassword",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(_Data),
                    dataType: "json",
                    beforeSend: function () {
                        console.log('Ajax Before Send!');
                        //jQuery('#admin-loader').show();
                    },
                    success: function (_response, _status) {
                        console.log('Ajax Success!');
                        console.log("Status: " + _status);
                        console.log("Response: " + _response.d + _response.responseText);
                        //var _Result = JSON.parse(_response);
                        //console.log("ddddd: "+_Result.Status);
                        jQuery.each(_response, function (data, _Result) {
                            //jQuery("#DropDownList_TitleName").append(jQuery("<option></option>").val(value.Name).html(value.Name));

                            if (_Result.Status == "true") {
                                //alert("Change Password Success!");
                                jQuery('#MsgInfo').html("<i class=\"icon fa fa-check-circle text-success\"> " + _Result.Message + "</i>");
                                jQuery('#TB_CPWD').val("");
                                jQuery('#TB_NPWD').val("");
                                jQuery('#TB_CNPWD').val("");

                                setTimeout(function () { window.location.reload(); }, 2000);
                                //location.href = location.href;
                            }
                            else
                                jQuery('#MsgInfo').html("<i class=\"icon fa fa-times-circle text-danger\"> " + _Result.Message + "</i>");
                            //jQuery('#admin-loader').hide();
                        })
                    },
                    error: function (x, e) {
                        console.log('Ajax Error!');
                        console.log(x.responseText);
                        console.log(x.status);
                        //jQuery('#admin-loader').hide();
                    }
                });
            }
            else {
                jQuery('#MsgInfo').html("<i class=\"icon fa fa-times-circle text-danger\"> Enter valid inputs mark as RED!</i>");
            }
        });
    });
</script>